@charset "UTF-8";
/* CSS Document */

.box{
	height: 360px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 0px;
	left: 0%;
}
.box1{
	width: 90px;
	background-color:#ECECEC;
	position: fixed;
	top: 0px;
	float: right;
	right:0%;
}
.box2{
	width: 90px;
	background-color:#ECECEC;
	position: fixed;
	top: 0px;
	float: right;
	right:0%;
}
body{
    background-image:url(images/PokeClickerBackgroundv2.jpg)
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}

#menu
{
border-left: 1px solid black;
height: 100%;
}
