@charset "UTF-8";
/* CSS Document */
#d {
    margin-bottom: 10px;
    margin-right: 10px;
}

<<<<<<< HEAD
#d {
	margin-bottom: 5px;
	margin-right: 5px;
}

#d:active {
	margin-top: 5px;
margin-left:5px;
}

=======
#d:active {
    margin-top: 10px;
margin-left:10px;
}
>>>>>>> origin/CSS
.box{
	height: 360px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 0px;
	left: 0%;
	
}
.box1{
	background-color:#007DE8;
	position: fixed;
	top: 0px;
	float: right;
	right:265px;
	border-radius:25px;
	overflow: scroll;
}
.box2{
	width: 250px;
	height:800px;
	background-color:#007DE8;
	position: fixed;
	top: 0px;
	float: right;
	right:0%;
border-radius:25px;
}
body{
    background-image:url(images/Alakazam.jpg)
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
	border-radius:10px;
}

#menu
{
border-left: 1px solid black;
height: 100
